a.arXiv, a.doi, a.slides, a.pdf, a.video, a.tag, a.text, a.sol {
    border: 1px solid;
    margin-left: 4px;
    margin-right: 4px;
    padding: 2px 4px 2px 4px;
    display: inline flow-root;
}

a.arXiv:hover, a.doi:hover, a.slides:hover, a.pdf:hover, a.video:hover, a.sol:hover {
    text-decoration: none;
}

a.arXiv, a.doi {
    font-size: 80%;
}

a.arXiv {
    background-color: #fef6f6;
}

a.doi {
    background-color: #f0f8ff;
}

a.slides, a.pdf, a.video, a.sol {
    border-radius: 4pt;
    border-width: 0pt;
    font-weight: bold;
    font-size: 85%;
    color: white;
}

a.slides {
    background-color: #0000cd;
}

a.pdf {
    background-color: #c91e26;
}

a.video {
    background-color: #00a1d6;
}

a.sol {
    background-color: #18864b;
}

a.tag {
    border-radius: 4pt;
    border-width: 0pt;
    font-weight: bold;
    font-size: 85%;
    color: #353a3f;
    background-color: #f5f5f5;
}

a.text {
    border-color: #0088cc;
    border-radius: 4pt;
    border-width: 0.5pt;
    font-weight: bold;
    font-size: 85%;
    color: #0088cc;
    background-color: #ffffff;
}

a.tag:hover {
    background-color: #e3e6e8;
    color: #0c0d0e;
    position: relative;
}


a.tag:hover::after {
    visibility: visible;
    opacity: 0.85;
    transition-delay: 0.2s;
}

a.text:hover {
    border-width: 0.5pt;
    background-color: #dcebf9;
    color: #000000;
}
